.message__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    background-color: var(--red-color-bg);
    padding:4rem;
}

.message__little-title {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--red-color);
}

.perfil__photo {
    background-image: url(../image/Avatar.png);
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.message__text {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 0 2rem 0;
}

.perfil__name {
    font-size: 1rem;
    padding: 1rem 0 0.25rem 0;
}

.perfil__occupation {
    font-size: 0.875rem;
    color: var(--main-color);
}