.page-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 680px) {
    .page-container {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .page-container {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .page-container {
        width: 98%;
    }
}