.label__classA{
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400; 
}

.label__classB {
    text-align: left;
    color: var(--blue);
    font-weight: 600;
    padding-left: 1.5rem;
    display: block;
}
