@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --bg-body-color: #0F0D13;
    --bg-displayer-color: #2A2141;
    --text-color: #E1E1E6;
    --bar-color:  #E1E1E6;
}

body {
    font-size: 1.6rem;
    display: grid;
    height: 100vh;
    place-content: center;

    background-color: var(--bg-body-color);
    color: var(--text-color);
}

.display {
    display: grid;
    gap: 2.8rem;
    padding: 3.8rem;

    background-color: var(--bg-displayer-color);
    border-radius: 1rem;

    font-family: 'Roboto';
}

/* IMAGE */
.display__image img {
    width: 19rem;
    height: 19rem;
    border-radius: .6rem;
    display: grid;
}

/* INFO */
.display__info .info__music-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .8rem;
}

.display__info .info__bands-name {
    font-size: 1.5rem;
    opacity: .6;
}

/* CONTROLS */
.display__control {
    display: flex;
    justify-content: space-between;
}

.display__control button {
    border: none;
    background-color: var(--bg-displayer-color);
}

.display__control button:hover {
    opacity: .6;
}

.display__control button:active {
    transform: scale(.9);
}

.display__control button[type='title'] {
    display: none;
}

/* TIMER */
.display__progress .progress__bars {
    margin-bottom: .8rem;
    cursor: pointer;
    background-color: var(--text-color);
    width: 100%;
    opacity: 1;
    height: 0.6rem;
    border-radius: 999px;
} 

.progress__bars .full-bar {
    width: 0%;
    height: .6rem;
    border-radius: 999px;
    opacity: .6;
    background-color: var(--bg-displayer-color);
}

.display__progress .timer__number {
    font-size: 1.4rem;
    opacity: .6;
    display: flex;
    justify-content: space-between;
}

.ytp-play-button {
    fill: #fff;
    opacity: 0.85;
 }